<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.SmuEMSW.smumyeyes">

    <!-- 아이콘 수정 -->
    <!-- <application -->
    <!-- android:allowBackup="true" -->
    <!-- android:icon="@mipmap/app_image2" -->
    <!-- android:label="@string/app_name" -->
    <!-- android:roundIcon="@mipmap/app_image2_round" -->
    <!-- android:supportsRtl="true" -->
    <!-- android:theme="@style/AppTheme"> -->
    <!-- <service -->
    <!-- android:name=".NormalService" -->
    <!-- android:enabled="true" -->
    <!-- android:exported="true" /> -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~6300978111"/>
        <service
            android:name=".BlinkService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>