<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.black">

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_image2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_image2_round"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".NormalService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- added activity-->
        <activity android:name=".EyeTipSelectActivity"/>
        <activity android:name=".EyeTipActivity"/>
        <activity android:name=".eachTipActivity"/>
        <!-- iniTest activity -->
        <activity android:name=".iniTest"/>
    </application>

</manifest>